{% extends "modelo.html" %}
{% block conteudo %}

<h1 class="gato-titulo">Pipoca</h1>

<header class="site-header">
    <nav class="navbar-container">
    </nav>
</header>
<main class="main-content">
    <section class="carousel-section">
        <div class="carousel-wrapper">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../static/img/imagens_gatos/pipoca1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../static/img/imagens_gatos/pipoca2.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/imagens_gatos/pipoca3.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="content-wrapper p-5">
            <h2>Sobre Pipoca</h2>
            <p>Sou uma gatinha branca de temperamento elegante e delicado. Gosto de viver no meu próprio ritmo, sempre de maneira calma e tranquila. Tenho muita paciência e aprecio ambientes silenciosos, onde posso observar tudo ao meu redor com serenidade. Não sou fã de brincadeiras muito agitadas ou barulhentas — prefiro interações suaves, carinhos leves e aqueles momentos de puro sossego em que posso simplesmente relaxar. Se você quiser minha companhia, basta sentar perto de mim e falar baixinho… eu adoro uma presença tranquila ao meu lado.</p>
        </div>
    </section>
</main>
{% endblock %}